.loading {
  width: 30px;
  height: 20px;
  margin: 0 auto;
  padding: 5px 5px;
  line-height: 15px;
  background-color: rgba(0,0,0,0.5);
  @include border-radius(4px);
  text-align: center;
}

.loading span {
  display: inline-block;
  width: 5px;
  height: 5px;
  margin-left: 3px;
  border-radius: 100%;
  background-color: rgba(255,255,255,1);
  @include animation(loading 1.5s infinite linear);
}

.loading :nth-child(1) {
  margin-left: 0;
  @include animation-delay(0.37s);
}
.loading :nth-child(2) {
  @include animation-delay(0.5s);
}
.loading :nth-child(3) {
  @include animation-delay(0.8s);
}

@include keyframes(loading) {
  0% {
    background-color: rgba(255,255,255,0.2);
  }

  50% {
    background-color: rgba(255,255,255,1);
  }

  100% {
    background-color: rgba(255,255,255,0.2);
  }
}

.main .loading {
  margin-top: 40px;
}