@import "compass/css3";
@import "../bower_components/normalize-css/normalize";
@import "animation";
@import "icons";

// Header
@import "header";

// Loader
@import "loader";

html,
body {
  background: #D8D9DB;
}

body {
  padding-top: 50px;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.aside {
  ul {
    overflow: hidden;
    list-style: none;
    margin: 0;
    padding: 0;
    padding: 10px;

    a {
      display: block;
      float: left;
      @include border-radius(6px);
      padding: 5px 8px;
      background: black;
      color: white;
      margin-right: 10px;
      text-decoration: none;

      &.is-active {
        color: black;
        background: white;
      }
    }
  }
}

.welcome {
  background: white;
  @include box-shadow(0 5px 15px -8px black);
  padding: 10px;
  margin: 15px;

  p {
    margin: 0;
  }
}

.feed-container {
  padding: 15px;

  h2 {
    margin: 5px;
  }

  ul {
    background: white;
    margin: 0;
    padding: 0;
    list-style: none;
    margin-bottom: 15px;
    @include box-shadow(0 5px 15px -8px black);
    margin-bottom: 25px;
  }

  li {
    border-bottom: 1px solid #D6D7D9;

    a {
      color: #333;
      text-decoration: none;
      display: block;
      padding: 10px;
      @extend .icon-book;
      position: relative;
      padding-left: 50px;

      &:before {
        display: block;
        font-family: "icons";
        position: absolute;
        top: 0px;
        left: 12px;
        font-size: 1em;
        border-right: 3px solid #0194C4;
        padding-right: 10px;
        height: 100%;
        line-height: 38px;
      }

      &:focus,
      &:hover {
        background: black;
        color: white;
      }

      &:visited {
        color: #888;
      }
    }
  }
}